# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Downloads\Deimantė Beniušytė PRIf 18_2 (Pataisytas)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
